header {
  position: relative;
  height: 25%;
  text-align: center;
  background-color: #cc9900;
  color: #ffffff;
  margin-top: 120px;
}

.avatar {
  position: relative;
  margin-top: 50vw;
  margin-left: 50vw;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}



/* Tablet styles */
@media only screen and (min-width: 768px) {

}

/* Desktop styles */
@media only screen and (min-width: 1024px) {

}
