nav {
  font-family: "Bungee", cursive;
  position: absolute;
  top: 0px;
  height: 120px;
  width: 100vw;
  z-index: 4;
  background-color: #cc9900;
  color: #ffffff;
  padding: 1.5em;
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  nav {
    font-family: "Bungee", cursive;
    position: absolute;
    top: 0px;
    height: 120px;
    width: 100vw;
    z-index: 4;
    background-color: #4056a1;
    color: #ffffff;
    padding: 1.5em;
  }
}

.toggle {
  float: right;
  color: red;
}

#hidden {
 display:none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}
