nav {
  font-family: "Bungee", cursive;
  position: fixed;
  top: 0px;
  height: 120px;
  width: 100vw;
  z-index: 4;
  background-color: #4056a1;
  color: #FFFFFF;
  padding-top: 0em;
  padding-bottom: 0em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}


