.new-tweet {
  margin: 10px;
  padding: 10px;
  text-align: centered;
}


.new-tweet textarea {
  background-color: #f4f1ec;
  border-style: hidden;
  border-bottom: 3px solid black;
  font-style: italic;
  padding: 5px;
  margin-right: 40px;
  width: 100vw;
  margin: 20px;
}

.new-tweet .counter {
  float: right;
  margin-right: 5px;
  font-style: italic;
  
}

.new-tweet button {
  
  background-color: blue;
  color: white;
  float:left;
}



.error {
  color: red;
}