
.new-tweet-container {
  margin: 10px;
  padding: 10px;
  text-align: centered;
  margin-bottom: 50px;
}

.new-tweet-container textarea {
  background-color: #f4f1ec;
  border-style: hidden;
  border-bottom: 3px solid black;
  font-style: italic;
  padding: 5px;
  width: 100%;
}

.new-tweet-container .counter {
  float: right;
  margin-right: 5px;
  font-style: italic;
  
}

.new-tweet-container button {
  background-color: blue;
  color: white;
}

.error {
  color: red;
}
#error {
  color: red;
}